.weatherWarningContent {
	margin-top: 20px;

	> p {
		text-align: center;
	}
}

.weatherWarningRegion {
	&.warningBox {
		&:not(:first-child) {
			border-top: 1px solid $wcfContentBorder;
			margin-top: 10px;
			padding-top: 10px;
		}
	}

	> dl,
	> .description,
	> .instruction {
		margin-top: 5px;
	}

	.headline {
		display: flex;
		align-items: center;
		font-weight: 600;
		border-bottom: 1px dotted $wcfContentBorder;
		padding-bottom: 5px;

		> img {
			flex: 0 0 50px;
			min-width: 50px;
			height: 50px;
		}

		> span {
			flex: 1 1 auto;
			margin-left: 10px;
		}
	}

	.warnLevel {
		position: relative;
		margin-top: 10px;

		.warnColor {
			display: inline-table;
			height: 20px;
			width: 100%;
			background: -prefix-linear-gradient(
				left,
				rgba(255, 235, 59, 1),
				rgba(255, 146, 0, 1),
				rgba(229, 57, 53, 1),
				rgba(136, 14, 79, 1)
			);
			background: linear-gradient(
				to right,
				rgba(255, 235, 59, 1),
				rgba(255, 146, 0, 1),
				rgba(229, 57, 53, 1),
				rgba(136, 14, 79, 1)
			);
		}

		.levelRules {
			position: absolute;
			background-color: black;
			height: 30px;
			width: 10px;
			opacity: 0.7;
			top: -5px;

			&.level1 {
				left: -4px;
			}

			&.level2 {
				left: 31.5%;
			}

			&.level3 {
				right: 31.5%;
			}

			&.level4 {
				right: -4px;
			}
		}
	}
}

.weatherWarningRegionBox {
	.boxTitle {
		font-size: 16px;
	}

	.icon {
		&.red {
			color: rgba(204, 0, 0, 1);
		}
	}
}

.weatherWarningForestFireHazardIndexMap,
.weatherWarningGrasslandFireIndexMap,
.weatherWarningMap {
	text-align: center;

	.forestFireHazardIndexMap,
	.grasslandFireIndexMap,
	.germanyMap {
		max-width: 100%;
	}
}

.weatherWarningMap {
	display: grid;
	justify-items: center;

	.germanyMapInfo {
		.legendBoxContainer {
			padding: 5px;

			> div {
				display: flex;
				align-items: center;
				padding: 5px;

				&:not(:last-child) {
					margin-bottom: 3px;
				}
			}

			.legendBox {
				flex: 0 0 15px;
				width: 15px;
				height: 15px;
				border: 1px solid var(--wcfContentBorder);
				background-color: var(--weatherWarningLegendColor);
				margin-right: 10px;
			}

			.preliminary {
				background-image: linear-gradient(
					-45deg,
					rgba(229, 57, 53, 0.2) 12.5%,
					transparent 12.5%,
					transparent 25%,
					rgba(229, 57, 53, 0.2) 25%,
					rgba(229, 57, 53, 0.2) 37.5%,
					transparent 37.5%,
					transparent 50%,
					rgba(229, 57, 53, 0.2) 50%,
					rgba(229, 57, 53, 0.2) 62.5%,
					transparent 62.5%,
					transparent 75%,
					rgba(229, 57, 53, 0.2) 75%,
					rgba(229, 57, 53, 0.2) 87.5%,
					transparent 87.5%
				);
				background-size: 10px 10px;
			}

			.legendBoxText {
				text-align: left;
			}
		}
	}
}

.weatherWarningMapButton {
	margin-top: 10px;
	text-align: center;
}

.weatherWarningFooter {
	margin-top: 20px;
	text-align: center;
	font-size: var(--wcfFontSizeSmall);

	&:not(:first-child) {
		margin-top: 10px;
	}
}

.weatherWarning__listView {
	> .weatherWarningRegion {
		&:last-child {
			border-bottom: none;
		}
	}
}
